@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #001940;
    --secondary-color: #486680;
    --accent1-color: #9b3538df;
    --accent2-color: #7b607fdf;

    --heading-font: 'Kdam Thmor Pro', sans-serif;
    --paragraph-font: 'Russo One', sans-serif;

    --nav-background-color: #3a3456;
    --nav-link-color: #4f8e95;
    --nav-hover-link-color: #ba9e6e;
    --nav-hover-background-color: #3a3456;

    --site-max-width: 100%;
}

body {
    padding: 5px;
    max-width: var(--site-max-width);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding: 10px;
}

/* nav bar stuff */
header img {
    padding: 1rem;
    padding-left: 6rem;
    float: left;
}

header nav, header {
    width: var(--site-max-width);
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--nav-link-color);
}
/* end nav bar stuff*/

/* .hero stuff */
.hero img {
    display: block;
    width: var(--site-max-width);
    height: auto;
}

.hero h1 {
    width: 100%;
    background-color: var(--accent1-color);
    position: absolute;
    top: 275px;
}

.hero article {
    width: 75%;
    background-color: var(--accent2-color);
    padding: 5px;
    position: absolute;
    top: 400px;
    left: 125px;
}

.hero article img {
    width: 30%;
    height: auto;
    float: right;
}
/* end .hero stuff */

/* .history stuff */
.history {
    padding: 10px;
    display: grid;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.history img{
    height: 200px;
    width: auto;
}
/* end .history stuff */

/* .adventure stuff */
.adventure {
    padding: 25px;
    height: 100px;
    width: auto;
    display: grid;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.adventure img {
    height: 100px;
    width: auto;
}

figcaption {
    background-color: var(--nav-hover-link-color);
    color: var(--primary-color);
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
}
/* end .adventure stuff */

/* footer stuff */
footer p {
    text-align: center;
}

footer nav, footer {
    padding: 5px;
    width: var(--site-max-width);
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: right;
    align-items: center;
}

footer nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--nav-link-color);
}
/* end footer stuff*/

/* form stuff */
fieldset {
    background-color: #eeeeee;
    width: 100%
}

label {
    padding: 10px
}

input, textarea, select, button {
    width: 75%;
}

textarea {
    height: 100px;
}

button {
    padding: 10px;
    background-color: #010080;
    color: white;
}
/* end form stuff */