@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #001940;
    --secondary-color: #486680;
    --accent1-color: #9b3538df;
    --accent2-color: #7b607fdf;

    --heading-font: 'Kdam Thmor Pro', sans-serif;
    --paragraph-font: 'Russo One', sans-serif;

    --nav-background-color: #ba9e6e;
    --nav-link-color: #4f8e95;
    --nav-hover-link-color: #3a3456;
    --nav-hover-background-color: #3a3456;

    --site-max-width: 850px;
}

body {
    max-width: var(--site-max-width);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

footer {
    text-align: center;
}

.sociallinks a {
    text-decoration: none;
}

section img {
    width: 100%;
    height: auto;
}

/* .hero stuff */
.hero img {
    display: block;
    width: var(--site-max-width);
    height: auto;
}

.hero h1 {
    width: var(--site-max-width);
    background-color: var(--accent1-color);
    text-align: center;
    position: absolute;
    top: 175px;
}

.hero article {
    width: 600px;
    background-color: var(--accent2-color);
    padding: 5px;
    position: absolute;
    top: 250px;
    left: 125px;
}

.hero article img {
    width: 35%;
    height: auto;
    float: right;
}