@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #001e2e;
    --secondary-color: #59ffa0;
    --accent1-color: #A6B5BB;
    --accent2-color: #3B3103;

    --heading-font: 'Kdam Thmor Pro', sans-serif;
    --paragraph-font: 'Russo One', sans-serif;

    --nav-background-color: #001e2e;
    --nav-link-color: #59ffa0;
    --nav-hover-link-color: #3B3103;
    --nav-hover-background-color: #A6B5BB;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 15px;
    background-color: var(--accent1-color);
}

p {
    padding: 15px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}