body {
    width: 40%;
}

h1 {
    text-align: center;
    color: blue;
}

fieldset {
    background-color: #eeeeee;
    width: 100%
}

label {
    padding: 10px
}

input, textarea, select, img, button {
    width: 95%;
}

textarea {
    height: 100px;
}

button {
    padding: 10px;
    background-color: #010080;
    color: white;
}